Tingco_REST/src/java/XSD/Email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
        <xs:element name="E-mail">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Cc" type="xs:string"/>
                    <xs:element name="To" type="xs:string"/>
                    <xs:element name="From" type="xs:string"/>
                    <xs:element name="Subject" type="xs:string"/>
                    <xs:element name="Body" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
</xs:schema>