Tingco_REST/src/java/XSD/tingcoMeasurementTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Hans Nottehed (Info24 AB) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ST_CommandParameter">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_Data">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="tingcoMeasurementTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgID"/>
                <xs:element ref="MsgTimeStamp"/>
                <xs:element ref="MsgStatus" minOccurs="0"/>
                <xs:element name="DeviceId" type="xs:string"/>
                <xs:element name="CountryId" type="xs:string"/>
                <xs:element name="UserId" type="xs:string"/>
                <xs:element ref="MeasurementTypes" minOccurs="0"/>
                <xs:element ref="MeasurementDatas" minOccurs="0"/>
                <xs:element ref="DeviceMeasurementData"/>
            </xs:sequence>
            <xs:attribute name="TimeZone" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="UTC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RegionalUnits" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Metric"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="MsgVer" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CreateRef" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Info24"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResponseText">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ResponseCode">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgTimeStamp">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResponseCode"/>
                <xs:element ref="ResponseText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MeasurementTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MeasurementTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="SeqNo">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeasurementTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MeasurementTypeTranslation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeasurementTypeTranslation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MeasurementTypeID"/>
                <xs:element ref="CountryID"/>
                <xs:element ref="MeasurementTypeName"/>
                <xs:element ref="MeasurementTypeDescription"/>
                <xs:element name="UsageUnit" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MeasurementTypeID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="CountryID">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementTypeName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementTypeDescription">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementDatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TimePeriod" type="xs:string"/>
                <xs:element name="FromDate" type="xs:string"/>
                <xs:element name="ToDate" type="xs:string"/>
               <!-- <xs:element ref="DataSeries" minOccurs="0" maxOccurs="unbounded" /> -->
                <xs:element ref="MeasurementData" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="SeqNo">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeasurementData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DataItemID"/>
                <xs:element ref="DeviceName"/>
                <xs:element ref="DataItemTime"/>
                <xs:element ref="MeasurementTypeID"/>
                <xs:element ref="ObjectID"/>
                <xs:element ref="GroupID"/>
                <xs:element ref="MeasurementValue"/>
                <xs:element ref="MeasurementMinValue"/>
                <xs:element ref="MeasurementMaxValue"/>
                <xs:element ref="MeasurementTypeID"/>
                <xs:element ref="MeasurementStandardDeviation"/>
                <xs:element ref="Year"/>
                <xs:element ref="Month"/>
                <xs:element ref="Day"/>
                <xs:element ref="Hour"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DataItemID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="DeviceName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="DataItemTime">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="ObjectID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="GroupID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementValue">
        <xs:simpleType>
            <xs:restriction base="xs:float"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementMinValue">
        <xs:simpleType>
            <xs:restriction base="xs:float"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementMaxValue">
        <xs:simpleType>
            <xs:restriction base="xs:float"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="MeasurementStandardDeviation">
        <xs:simpleType>
            <xs:restriction base="xs:float"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Year">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Month">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Day">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Hour">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="CreatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="UpdatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="DeviceMeasurementData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DeviceID" type="xs:string"/>
                <xs:element name="DeviceName" type="xs:string"/>
                <xs:element ref="DataSeries" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DataSeries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Data" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Unit" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
             <xs:attribute name="Language" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="SeriesName" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="SeriesID" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Data">
        <xs:complexType>
                <xs:simpleContent>
                    <xs:extension base="ST_Data">
                        <xs:attribute name="Time" use="required">
                            <xs:simpleType>
                                <!-- <xs:restriction base="xs:dateTime"/>  -->
                                 <xs:restriction base="xs:string"/> 
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ID" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:int"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>