Tingco_REST/src/java/XSD/tingcoApplications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Hans Nottehed (Info24 AB) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ST_LastUpdatedByUserID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_GroupID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_ApplicationTypeID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_ApplicationName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_ApplicationDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="tingcoApplications">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgID"/>
                <xs:element ref="MsgTimeStamp"/>
                <xs:element ref="MsgStatus" minOccurs="0"/>
                <xs:element ref="Applications" minOccurs="0"/>
                <xs:element ref="AgreementDetails" minOccurs="0"/>
                <xs:element ref="SystemMessages" minOccurs="0"/>
                <xs:element ref="ApplicationSolutions" minOccurs="0"  maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="TimeZone" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="UTC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RegionalUnits" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Metric"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="MsgVer" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CreateRef" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Info24"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserPermissions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Operation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ResponseText">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ResponseCode" type="xs:int"/>
    <xs:element name="Operation">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgTimeStamp">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResponseCode"/>
                <xs:element ref="ResponseText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LastUpdatedByUserID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_LastUpdatedByUserID">
                    <xs:attribute name="UserFullName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsEnabled">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_GroupID">
                    <xs:attribute name="GroupName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ST_AgreementItemTypeID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="AgreementItemTypeID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_AgreementItemTypeID">
                    <xs:attribute name="AgreementItemTypeName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ST_AgreementParentID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:element name="AgreementParentID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_AgreementParentID">
                    <xs:attribute name="AgreementName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Applications">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Application" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agreement" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationSolutions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationSolution" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

    </xs:element>

    <xs:element name="ApplicationSolution">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationSolutionID" type="xs:string"/>
                <xs:element name="ApplicationSolutionDescription" type="xs:string"/>
                <xs:element name="DisplayOrder" type="xs:int"/>
                <xs:element ref="ApplicationSolutionNames" minOccurs="0" />
                <xs:element ref="ApplicationPackages" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="ApplicationSolutionNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SolutionName" maxOccurs="unbounded"/>
                <xs:element name="SolutionDesc" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SolutionName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ApplicationPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationPackage" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>

    <xs:element name="ApplicationPackage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationPackageID" type="xs:string"/>
                <xs:element name="ApplicationSolutionID" type="xs:string"/>
                <xs:element name="ObjectCode" type="xs:string"/>
                <xs:element name="DisplayOrder" type="xs:int"/>
                <xs:element ref="ApplicationModules" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ApplicationPackageNames" minOccurs="0"/>
                <xs:element ref="Agreement" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="IsTrial" type="xs:int"/>
                <xs:element name="IsEnabled" type="xs:int"/>
                <xs:element name="IsPendingDelete" type="xs:int"/>
                <xs:element ref="DeleteAfterThisDate" />
                <xs:element ref="ActiveFromDate" />
                <xs:element ref="ActiveToDate" />
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int" />
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsPendingDelete">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DeleteAfterThisDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="Agreement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="AgreementName" type="xs:string"/>
                <xs:element name="AgreementDesc" type="xs:string"/>
                <xs:element name="IsEnabled" type="xs:int"/>
                <xs:element ref="GroupID"/>
                <xs:element ref="AgreementParentID"/>
                <xs:element name="StartDate" type="xs:string"/>
                <xs:element name="EndDate" type="xs:string"/>
                <xs:element name="StartDateTCMV3" type="xs:string"/>
                <xs:element name="EndDateTCMV3" type="xs:string"/>
                <xs:element name="AgreementNumber" type="xs:string"/>
                <xs:element ref="AgreementRoles" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementStatusTranslations" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementItemTypeID" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementItems" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementBillingData" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementBillingData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BillingDataID" type="xs:string"/>
                <xs:element name="AgreementName" type="xs:string"/>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="AgreementNumber" type="xs:string"/>
                <xs:element name="BillingCategoryID" type="xs:string"/>
                <xs:element name="SKU" type="xs:string"/>
                <xs:element name="CategoryName" type="xs:string"/>
                <xs:element name="NumberOfObjects" type="xs:string"/>
                <xs:element name="NumberOfNewObjects" type="xs:string"/>
                <xs:element name="Year" type="xs:string"/>
                <xs:element name="Month" type="xs:string"/>
                <xs:element name="Day" type="xs:string"/>
                <xs:element name="IsInvoiced" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int" />
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementItemID" type="xs:string"/>
                <xs:element name="AgreementItemParentID" type="xs:string"/>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="AgreementItemTypeID" type="xs:string"/>
                <xs:element name="AgreementStatusID" type="xs:string"/>
                <xs:element name="ItemSectionNumber" type="xs:int"/>
                <xs:element name="ItemName" type="xs:string"/>
                <xs:element name="ItemText" type="xs:string"/>
                <xs:element name="ActiveFromDate" type="xs:string"/>
                <xs:element name="ActiveToDate" type="xs:string"/>
                <xs:element name="ActiveFromDateTCMV3" type="xs:string"/>
                <xs:element name="ActiveToDateTCMV3" type="xs:string"/>
                <xs:element name="CompletedDate" type="xs:dateTime"/>
                <xs:element name="ObjectID" type="xs:string"/>
                <xs:element name="FunctionAreaID" type="xs:string"/>
                <xs:element name="PricePlanID" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:string"/>
                <xs:element name="ProductVariantID" type="xs:string"/>
                <xs:element name="ProductVariantName" type="xs:string"/>
                <xs:element name="PricePlanName" type="xs:string"/>
                <xs:element name="UpdatedBy" type="xs:string"/>
                <xs:element ref="AgreementItemTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AgreementStatusTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int" />
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementItemTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementItemTypeID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="AgreementItemTypeName" type="xs:string"/>
                <xs:element name="AgreementItemTypeDescription" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementStatusTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementStatusID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="AgreementStatusName" type="xs:string"/>
                <xs:element name="AgreementStatusDescription" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementTypeID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="AgreementTypeName" type="xs:string"/>
                <xs:element name="AgreementTypeDescription" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementRoles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="ObjectID" type="xs:string"/>
                <xs:element name="ObjectName" type="xs:string"/>
                <xs:element name="AgreementRoleTypeId" type="xs:string"/>
                <xs:element name="ActiveFromDate" type="xs:dateTime"/>
                <xs:element name="ActiveToDate" type="xs:dateTime"/>
                <xs:element name="ActiveFromDateTCMv3" type="xs:string"/>
                <xs:element name="ActiveToDateTCMV3" type="xs:string"/>
                <xs:element name="UpdatedDateTCMV3" type="xs:string"/>
                <xs:element name="IsSupplier" type="xs:int"/>
                <xs:element name="IsCustomer" type="xs:int"/>
                <xs:element name="LastUpdatedByUser" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
                <xs:element ref="AgreementRolesTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementRolesTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementRoleTypeID" type="xs:string"/>
                <xs:element name="ObjectCode" type="xs:string"/>
                <xs:element name="LastUpdatedByUser" type="xs:dateTime"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
                <xs:element ref="AgreementRoleTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgreementRoleTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AgreementRoleTypeID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:string"/>
                <xs:element name="RoleTypeName" type="xs:string"/>
                <xs:element name="RoleTypeDescription" type="xs:string"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="UpdatedDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationPackageNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PackageName" maxOccurs="unbounded"/>
                <xs:element name="PackageDesc" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PackageName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ApplicationModules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationModuleID" type="xs:string"/>
                <xs:element name="ObjectCode" type="xs:string"/>
                <xs:element name="DisplayOrder" type="xs:int"/>
                <xs:element name="ApplicationModuleDescription" type="xs:string"/>
                <xs:element ref="ApplicationModuleNames" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="ApplicationModuleNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ModuleName" maxOccurs="unbounded"/>
                <xs:element name="ModuleDesc" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ModuleName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationVersion">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="ApplicationTypeID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_ApplicationTypeID">
                    <xs:attribute name="ApplicationTypeName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationSetting" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationSettingValue">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationSettingParentID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationSettingName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationSettingID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationSetting">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationSettingID"/>
                <xs:element ref="ApplicationSettingParentID"/>
                <xs:element ref="ApplicationSettingName"/>
                <xs:element ref="ApplicationSettingValue"/>
                <xs:element ref="LastUpdatedByUserID"/>
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationName" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_ApplicationName">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationLogoURL">
        <xs:simpleType>
            <xs:restriction base="xs:anyURI"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ApplicationDescriptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationDescription" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationDescription">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_ApplicationDescription">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemMessages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SystemMessage" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SystemMessageID" maxOccurs="unbounded"/>
                <xs:element ref="SystemMessageText" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemMessageID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SystemMessageText">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Application">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationID"/>
                <xs:element ref="ApplicationTypeID" minOccurs="0"/>
                <xs:element ref="IsEnabled" minOccurs="0"/>
                <xs:element ref="ApplicationNames" minOccurs="0"/>
                <xs:element ref="ApplicationDescriptions" minOccurs="0"/>
                <xs:element ref="ActiveFromDate" minOccurs="0"/>
                <xs:element ref="ActiveToDate" minOccurs="0"/>
                <xs:element ref="ApplicationLogoURL" minOccurs="0"/>
                <xs:element ref="ApplicationVersion" minOccurs="0"/>
                <xs:element ref="LastUpdatedByUserID" minOccurs="0"/>
                <xs:element ref="CreatedDate" minOccurs="0"/>
                <xs:element ref="UpdatedDate" minOccurs="0"/>
                <xs:element ref="ApplicationSettings" minOccurs="0"/>
                <xs:element ref="UserPermissions" minOccurs="0"/>
                <xs:element ref="GroupMemberships" minOccurs="0"/>
                <xs:element ref="ApplicationEmailTemplates" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="SeqNo" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActiveToDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ActiveFromDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupMemberships">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="GroupID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationEmailTemplates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationEmailTemplateID" type="xs:string" />
                <xs:element name="ApplicationID" type="xs:string" />
                <xs:element name="ObjectCode" type="xs:string" />
                <xs:element name="CountryID" type="xs:string" />
                <xs:element name="EmailSubject" type="xs:string" />
                <xs:element name="EmailBody" type="xs:string" />
                <xs:element name="EmailSignature" type="xs:string" />
                <xs:element name="LastUpdatedByUserID" type="xs:string" />
                <xs:element name="CreatedDate" type="xs:string" />
                <xs:element name="UpdatedDate" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>


</xs:schema>
