Tingco_REST/src/java/XSD/tingcoGroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Hans Nottehed (Info24 AB) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ST_UserID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_LastUpdatedByUserID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_GroupName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_GroupDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_DeviceGroupID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_UserGroupID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_EventTypeID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="tingcoGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgID"/>
                <xs:element ref="MsgTimeStamp"/>
                <xs:element ref="MsgStatus" minOccurs="0"/>
                <xs:element ref="Groups" minOccurs="0"/>
                <xs:element ref="EventTypess" minOccurs="0"/>
                <xs:element ref="DeliveryAccounts" minOccurs="0"/>
                <xs:element name="Exceeds200" type="xs:int" />
                <xs:element ref="FAQs" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="TimeZone" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="UTC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RegionalUnits" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Metric"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="MsgVer" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CreateRef" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Info24"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserPermissions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Operation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_UserID">
                    <xs:attribute name="UserFullName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ResponseText">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ResponseCode">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Operation">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgTimeStamp">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MsgStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResponseCode"/>
                <xs:element ref="ResponseText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LastUpdatedByUserID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_LastUpdatedByUserID">
                    <xs:attribute name="UserFullName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Group" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="AccessLogs" minOccurs="0"  maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FAQs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FAQ" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventTypess">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventTypes" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeliveryAccounts">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DeliveryAccount" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccessLogs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccessLog" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupUserMemberships">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UserID" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupTypeID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupTypeName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupParentID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GroupName" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupName">
        <xs:complexType>
        <xs:simpleContent>
                <xs:extension base="ST_GroupName">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="GroupDescriptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GroupDescription" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupDescription">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_GroupDescription">
                    <xs:attribute name="Language" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EventTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EventTypeID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="EventTypeName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccessLog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AccessLogRowID" type="xs:string"/>
                <xs:element name="AccessTime" type="xs:dateTime"/>
                <xs:element name="AccessTimeTCMV3" type="xs:string"/>
                <xs:element name="DeviceID" type="xs:string"/>
                <xs:element ref="DeviceGroupID"/>
                <xs:element name="DeviceName" type="xs:string"/>
                <xs:element name="Resource" type="xs:string"/>
                <xs:element name="UserAliasID" type="xs:string"/>
                <xs:element name="UserAlias" type="xs:string"/>
                <xs:element name="FirstName" type="xs:string"/>
                <xs:element name="LastName" type="xs:string"/>
                 <xs:element name="FullName" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="UserGroupID"/>
                <xs:element name="UserAliasTypeID" type="xs:string"/>
                <xs:element name="UserAliasTypeName" type="xs:string"/>
                <xs:element ref="EventTypeID"/>
                <xs:element name="EventSubject" type="xs:string"/>
                <xs:element name="PosLatitude" type="xs:string"/>
                <xs:element name="PosLongitude" type="xs:string"/>
                <xs:element name="PosAltitude" type="xs:int"/>
                <xs:element name="PosHeading" type="xs:int"/>
                <xs:element name="CoordinateSystemID" type="xs:string"/>
                <xs:element name="Location" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GroupID"/>
                <xs:element ref="GroupParentID" minOccurs="0"/>
                <xs:element ref="GroupTypeID" minOccurs="0"/>
                <xs:element ref="GroupTypeName" minOccurs="0"/>
                <xs:element ref="GroupNames" minOccurs="0"/>
                <xs:element ref="GroupDescriptions" minOccurs="0"/>
                <xs:element ref="GroupUserMemberships" minOccurs="0"/>
                <xs:element ref="LastUpdatedByUserID" minOccurs="0"/>
                <xs:element ref="CreatedDate" minOccurs="0"/>
                <xs:element name="CreatedDateTCMV3" type="xs:string" />
                <xs:element ref="UpdatedDate" minOccurs="0"/>
                <xs:element name="DomainID" type="xs:string"/>
                <xs:element name="OrganizationNumber" type="xs:string"/>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="AgreementName" type="xs:string"/>
                <xs:element name="ApplicationID" type="xs:string"/>
                <xs:element name="GroupLimitPackageID" type="xs:string"/>
                <xs:element name="PackageName" type="xs:string"/>
                <xs:element name="GroupParentName" type="xs:string"/>
                <xs:element ref="UserPermissions" minOccurs="0"/>
                <xs:element ref="ObjectGroups" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GroupVisibleApplicationSolutions" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GroupVisibleApplicationPackages" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GroupApplicationPackages" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="CostCenters" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GroupDefaultUserAlias" minOccurs="0"/>
                <xs:element ref="GroupAlias" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Schedules" minOccurs="0" />
                <xs:element ref="Contacts" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="UserRoleID" type="xs:string"/>
                <xs:element name="UserRoleName" type="xs:string"/>
                <xs:element ref="ITrustGroups" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Address" />
            </xs:sequence>
            <xs:attribute name="SeqNo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ITrustGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ITrustGroupID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatedDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ActiveToDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ActiveFromDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="ObjectGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ObjectGroupID" type="xs:string"/>
                <xs:element name="ObjectGroupParentID" type="xs:string"/>
                <xs:element name="GroupId" type="xs:string"/>
                <xs:element name="GroupName" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
                <xs:element ref="ObjectGroupTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ObjectGroupTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ObjectGroupID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="ObjectGroupName" type="xs:string"/>
                <xs:element name="ObjectGroupDescription" type="xs:string"/>
                <xs:element name="LastUpdatedByUserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupApplicationPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GroupApplicationPackage" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupApplicationPackage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="ApplicationPackageID" type="xs:string"/>
                <xs:element name="ApplicationPackageName" type="xs:string"/>
                <xs:element name="ApplicationSolutionID" type="xs:string"/>
                <xs:element name="ApplicationSolutionName" type="xs:string"/>
                <xs:element name="AgreementID" type="xs:string"/>
                <xs:element name="Comment" type="xs:string"/>
                <xs:element name="IsEnabled" type="xs:int"/>
                <xs:element name="IsTrial" type="xs:int"/>
                <xs:element name="IsPendingDelete" type="xs:int"/>
                <xs:element name="DeleteAfterThisDate"/>
                <xs:element name="OrderByUserID" type="xs:string"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element ref="ActiveFromDate"/>
                <xs:element ref="ActiveToDate"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
            <xs:attribute name="SeqNo">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupVisibleApplicationSolutions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="ApplicationSolutionID" type="xs:string" maxOccurs="unbounded"/>
                <xs:element ref="ApplicationSolutions" maxOccurs="unbounded"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationSolutions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationSolution" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationSolution">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationSolutionID" type="xs:string"/>
                <xs:element name="ApplicationSolutionName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupVisibleApplicationPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="ApplicationPackageID" type="xs:string" maxOccurs="unbounded"/>
                <xs:element ref="ApplicationPackages" maxOccurs="unbounded"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ApplicationPackage" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplicationPackage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationPackageID" type="xs:string"/>
                <xs:element name="ApplicationPackageName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CostCenters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CostCenterID" type="xs:string"/>
                <xs:element name="CostCenterName" type="xs:string"/>
                <xs:element name="CostCenterDescription" type="xs:string"/>
                <xs:element name="CostCenterNumber" type="xs:int"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="DisplayInWebShop" type="xs:int"/>
                <xs:element name="DisplayOrder" type="xs:int"/>
                <xs:element ref="ActiveFromDate"/>
                <xs:element ref="ActiveToDate"/>
                <xs:element name="ActiveFromDateTCMV3" type="xs:string"/>
                <xs:element name="ActiveToDateTCMV3" type="xs:string"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupDefaultUserAlias">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserAliasID" type="xs:string"/>
                <xs:element name="CostCenterID" type="xs:string"/>
                <xs:element name="CostCenterName" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="CompanyPaymentEnabled" type="xs:int"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
                <xs:element ref="UserAlias" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UserAlias">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserAliasId" type="xs:string"/>
                <xs:element name="FirstName" type="xs:string"/>
                <xs:element name="LastName" type="xs:string"/>
                <xs:element name="UserAlias" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupAlias">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupAlias" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EventTypeID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_EventTypeID">
                    <xs:attribute name="EventTypeName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeviceGroupID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_DeviceGroupID">
                    <xs:attribute name="DeviceGroupName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserGroupID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_UserGroupID">
                    <xs:attribute name="UserGroupName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Schedules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ScheduleID" type="xs:string"/>
                <xs:element name="ScheduleName" type="xs:string"/>
                <xs:element name="ScheduleDescription" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="TimeGroupID" type="xs:string"/>
                <xs:element name="DateGroupID" type="xs:string"/>
                <xs:element ref="UserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Contacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactID" type="xs:string"/>
                <xs:element name="ContactName" type="xs:string"/>
                <xs:element name="ContactDescription" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="GroupName" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
                <xs:element ref="ContactGroupsInContacts" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ContactTypesInContacts" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ContactTypes" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ContactGroups" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactGroupsInContacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactID" type="xs:string"/>
                <xs:element ref="ContactGroupID" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactGroupID" type="xs:string"/>
                <xs:element name="ContactGroupParentID" type="xs:string"/>
                <xs:element name="ContactGroupName" type="xs:string"/>
                <xs:element name="ContactGroupDescription" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="GroupName" type="xs:string"/>
                <xs:element ref="UserID" />
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ContactGroupID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="ContactTypesInContacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactTypeInCoID" type="xs:string"/>
                <xs:element name="ContactID" type="xs:string"/>
                <xs:element name="ContactTypeID" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactTypeDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactDetailID" type="xs:string"/>
                <xs:element name="ContactDetailParentID" type="xs:string"/>
                <xs:element name="ContactTypeInCoID" type="xs:string"/>
                <xs:element name="ContactTypeFieldID" type="xs:string"/>
                <xs:element name="ContactFieldValue" type="xs:string"/>
                <xs:element name="ContactFieldName" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactTypeID" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
                <xs:element ref="ContactTypeTranslations" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ContactTypeDetails" minOccurs="0" maxOccurs="unbounded"/>
                <!--<xs:element ref="ContactTypeFieldTranslations" minOccurs="0" maxOccurs="unbounded"/> -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactTypeTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactTypeID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="ContactTypeName" type="xs:string"/>
                <xs:element name="ContactTypeDescription" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

   <!-- <xs:element name="ContactTypeFieldTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContactTypeFieldID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="ContactFieldName" type="xs:string"/>
                <xs:element name="ContactFieldDescription" type="xs:string"/>
                <xs:element name="UserID" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> -->

    <xs:element name="DeliveryAccount">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ServiceClientLogins" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ServiceClientLogins">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceClientLoginID" type="xs:string"/>
                <xs:element name="ServiceClientLoginName" type="xs:string"/>
                <xs:element name="ServiceClientLoginDescription" type="xs:string"/>
                <xs:element name="ClientLogin" type="xs:string"/>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="GroupName" type="xs:string"/>
                <xs:element name="Password" type="xs:string"/>
                <xs:element name="Protocol" type="xs:string"/>
                <xs:element name="ProtocolVersion" type="xs:string"/>
                <xs:element name="IsEnabled" type="xs:string"/>
                <xs:element name="ActiveFromDate" type="xs:dateTime"/>
                <xs:element name="ActiveToDate" type="xs:dateTime"/>
                <xs:element name="CreatedDate" type="xs:dateTime"/>
                <xs:element name="ActiveFromDateTCMV3" type="xs:string"/>
                <xs:element name="ActiveToDateTCMV3" type="xs:string"/>
                <xs:element name="CreatedDateTCMv3" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AddressID" type="xs:string"/>
                <xs:element name="AddressName" type="xs:string"/>
                <xs:element name="AddressDesc" type="xs:string"/>
                <xs:element name="AddressTypeID" type="xs:int"/>
                <xs:element name="AddressRegion" type="xs:string"/>
                <xs:element name="AddressStreet" type="xs:string"/>
                <xs:element name="AddressStreet2" type="xs:string"/>
                <xs:element name="AddressSuite" type="xs:string"/>
                <xs:element name="AddressZip" type="xs:string"/>
                <xs:element name="AddressCity" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="CountryName" type="xs:string"/>
                <xs:element name="CountryStateID" type="xs:string"/>
                <xs:element name="AddressPhone" type="xs:string"/>
                <xs:element name="AddressMobile" type="xs:string"/>
                <xs:element name="AddressFax" type="xs:string"/>
                <xs:element name="AddressEmail" type="xs:string"/>
                <xs:element name="AddressWeb" type="xs:string"/>
                <xs:element name="AddressIM" type="xs:string"/>
                <xs:element name="AddressLatitude" type="xs:float"/>
                <xs:element name="AddressLongitude" type="xs:float"/>
                <xs:element name="AddressDepth" type="xs:float"/>
                <xs:element name="ObjectID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FAQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="FAQID" type="xs:string"/>
                <xs:element name="Question" type="xs:string"/>
                <xs:element name="Answer" type="xs:string"/>
                <xs:element ref="CountryID"/>
                <xs:element ref="LastUpdatedByUserID" />
                <xs:element name="Category" type="xs:string"/>
                <xs:element name="Tags" type="xs:string"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
                <xs:element ref="GroupTranslations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="SeqNo">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountryID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_CountryID">
                    <xs:attribute name="CountryName" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ST_CountryID">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:element name="GroupTranslations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupID" type="xs:string"/>
                <xs:element name="CountryID" type="xs:int"/>
                <xs:element name="GroupName" type="xs:string"/>
                <xs:element name="GroupDescription" type="xs:string"/>
                <xs:element ref="UserID"/>
                <xs:element ref="CreatedDate"/>
                <xs:element ref="UpdatedDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
