Tingco_REST/src/java/XSD/tingcoCommands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Hans Nottehed (Info24 AB) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_CommandParameter">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="tingcoCommands">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgID"/>
				<xs:element ref="MsgTimeStamp"/>
				<xs:element ref="MsgStatus" minOccurs="0"/>
				<xs:element ref="Commands" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="TimeZone" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UTC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RegionalUnits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Metric"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MsgVer" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CreateRef" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Info24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseText">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResponseCode">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MsgTimeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MsgStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode"/>
				<xs:element ref="ResponseText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Commands">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Command" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandParameter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_CommandParameter">
					<xs:attribute name="ParameterName" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DataType" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
								<xs:enumeration value="uniqueidentifier"/>
								<xs:enumeration value="int"/>
								<xs:enumeration value="float"/>
								<xs:enumeration value="datetime"/>
								<xs:enumeration value="boolean"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Command">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandParameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="CommandName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
            <xs:attribute name="CommandID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
